
{{#truthiness-toggler toggleProp=toggleProp }}

  <span class="checkbox">
    {{#if toggleProp }}
      &#10004; {{!-- ✔ --}}
    {{/if}}
  </span>

  <span class="label">{{ checkboxLabel }}</span>

{{/truthiness-toggler}}
