
<div data-selection>{{ selection }}</div>

<div data-option-list>
  {{ yield }}
  {{#each option in content }}
    <div data-option {{ bind-attr value=option }}>
      {{ option }}
    </div>
  {{/each}}
</div>
