
@import 'lib/debug'

+labeled-component('.uni-form-checkbox')
+labeled-component('.uni-form-input', false)
+labeled-component('.uni-form-radio')
+labeled-component('.uni-form-select')
+labeled-component('.uni-form', false)
+labeled-component('.uni-form-messages', false)
+labeled-component('.uni-form-submit')

+labeled-inline-tag('.label', green)

address
  background: white
  border: 1px solid #666
  border-radius: 5px
  padding: 1rem

  &::before
    content: "Address: "
    font-style: normal
    opacity: 0.5

[type="submit"]
  background: none
  font: 18px sans-serif
  padding: 1rem 4rem

fieldset
  border: 1px solid rgba(black, 0.3)
  margin: 1rem 0
  padding: 0.5rem

label
  display: inline-block

  &.error
    border-color: red

li
  margin: 1rem 0

textarea
  min-height: 100px

.uni-form-select

  select
    background: white

  &.prompting

    select
      color: grey

.uni-form-input.required::after
  bottom: 5px
  color: red
  content: "* Required"
  font-family: monospace
  opacity: 0.5
  position: absolute

.message
  background: #DDD
  border: 1px solid currentColor
  border-radius: 5px
  color: #333
  padding: 0.5rem

  &.error
    background-color: #FCC
    color: #911
