
@import 'lib/debug'

+labeled-component('.uni-form-checkbox')
+labeled-component('.uni-form-input', false)
+labeled-component('.uni-form-radio')
+labeled-component('.uni-form-select')
+labeled-component('.uni-form', false)

+labeled-inline-tag('.label', green)
// +labeled-inline-tag('mark', blue)

address
  background: white
  border: 1px solid #666
  border-radius: 5px
  padding: 1rem

  &::before
    content: "Address: "
    font-style: normal
    opacity: 0.5

fieldset
  border: 1px solid rgba(black, 0.3)
  margin: 1rem 0
  padding: 0.5rem

li
  margin: 1rem 0

.uni-form-select

  select
    background: white

  &.prompting

    select
      color: grey

.uni-form-input.required::after
  bottom: 5px
  color: red
  content: "* Required"
  font-family: monospace
  opacity: 0.5
  position: absolute
