
{{#if label }}
  <span class="label">{{ label }}</span>
{{/if}}

{{ uni-form-radio-tag
  autofocus=autofocus
  disabled=disabled
  groupValue=groupValue
  name=name
  required=required
  type='radio'
  value=value
}}

{{ yield }}
