
{{#if prompt }}
  <option class="prompt" value="">{{ prompt }}</option>
{{/if}}

{{#each _content as |o| }}
  <option value="{{ o.value }}" selected={{ if o.selected 'selected' null }}>{{ o.label }}</option>
{{/each}}
