
{{#if label }}<span class="label">{{ label }}</span>{{/if}}

{{ input
  autocomplete=autocomplete
  disabled=disabled
  name=name
  pattern=pattern
  placeholder=placeholder
  required=required
  type=type
  value=value
}}

{{ yield }}
