
{{#if label }}
  <span class="label">{{{ statusText }}}</span>
{{/if}}

{{ textarea
  autofocus=autofocus
  disabled=disabled
  maxlength=maxlength
  name=name
  placeholder=placeholder
  value=value
}}

{{ yield }}
