
{{#if label }}
  <span class="label">{{ statusText }}</span>
{{/if}}

{{ uni-form-select-tag
  autofocus=autofocus
  content=content
  disabled=disabled
  name=name
  prompt=prompt
  value=value
}}

{{ yield }}
