
{{#if label }}
  <span class="label">{{ label }}</span>
{{/if}}

{{ input
  autofocus=autofocus
  disabled=disabled
  name=name
  pattern=pattern
  placeholder=placeholder
  type=type
  value=value
}}

{{ yield }}
