<h2 id="title">Welcome to Ember.js</h2>

{{#uni-form
  form=uniForm
  cancel=(action 'cancel')
  save=(action 'save')
}}

  {{#uni-form-checkbox}} Checkbox label text {{/uni-form-checkbox}}
  {{#uni-form-radio}} Radio button label text {{/uni-form-radio}}

{{/uni-form}}

{{outlet}}
