<h1>ember-uni-form</h1>

{{#uni-form
  form=uniForm
}}

  <ul>

    <li>
      {{#uni-form-checkbox
        disabled=isPurplePantsDisabled
        value=isPurplePantsFan
      }}
        Do you like purple pants?
      {{/uni-form-checkbox}}

      => {{ if isPurplePantsFan 'YES' 'no' }}
      {{#uni-form-checkbox value=isPurplePantsDisabled }} disable{{/uni-form-checkbox}}
    </li>

    <li>
      {{#uni-form-radio
        disabled=isBreakfastDishDisabled
        groupValue=breakfastDish
        value='spam'
      }}
        Spam
      {{/uni-form-radio}}

      {{#uni-form-radio
        disabled=isBreakfastDishDisabled
        groupValue=breakfastDish
        value='eggs'
      }}
        Eggs
      {{/uni-form-radio}}

      => {{ breakfastDish }}
      {{#uni-form-checkbox value=isBreakfastDishDisabled }} disable{{/uni-form-checkbox}}
    </li>

  </ul>

{{/uni-form}}
